@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.nav-config {
    top: 0;
    margin: 0;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7385d2;
    /* position: fixed; */
}

.logo {
    width: 40%;
    margin: 10px 0 0;
}

.logo img {
    width: 100%;
}

.fa-sign-out-alt {
    font-size: 20px;
    margin: 10px 0 0;
    color: white;
}

.sub-nav {
    margin: 0;
    padding: 0;
    display: flex;
}

.sub-nav li {
    background-color: #cfd8ff;
    height: 40px;
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #7385d2;
    border: 1px solid white;
}

.sub-nav li.active {
    background-color: #7385d2;
    color: white;
}


.day-info {
    color: #7385d2;
    font-weight: 700;
    text-align: center;
    margin: 10px 0 5px;
}

.align-tracker {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 20px 20px;
    width: 100%;
    margin: 10px 0 10px;
    border: none;
    border-radius: 5px;
}

.align-text-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.align-text-btn h4{
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}

.align-text-btn p{
    margin: 0;
    font-size: 10px;
}

.check-in-style {
    background-color: #cfd8ff;
    color: #7385d2;
}

.check-in-lunch-style {
    background-color: #fef4e1;
    color: #c7a669;
}

.check-out-lunch-style {
    background-color: #ffeee5;
    color: #f4a881;
}

.check-out-style {
    background-color: #efffe1;
    color: #8fb56e;
}

.align-btn {
    display: flex;
    justify-content: space-between;
}

.fas-size-p  {
    font-size: 22px;
}

.employee-name {
    color: #7385d2;
    margin: 10px 0 0 20px;
}

.weekly-hour {
    color: #7385d2;
    text-align: center;
    margin: 10px 0 0;
}

.align-history p {
    margin: 0;
}

.align-ul-data{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.align-data {
    display: flex;
    align-items: center;
}

.span-hour{
    font-weight: 700;
}

.fas-size {
    margin-left: 10px;
    font-size: 14px;
}

.align-history {
    padding: 20px;
    display: flex;
    justify-content:space-between;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    background-color: #f9faff;
}

.align-tracker-history {
    display: flex;
    flex-direction: column;
}

.hours {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.history-check-in, .history-clock, .history-calendar {
    color: #7385d2;
}

.fa-calendar-alt {
    margin-bottom: 10px;
    margin-right: 10px;
}

.fa-clock {
    margin-right: 10px; 
}

.history-check-in-lunch {
    color: #c7a669;
}

.history-check-out-lunch {
    color: #f4a881;
}

.history-check-out {
    color: #8fb56e;
}

.total-hour {
    width: 100%;
    background-color: #8fb56e;
    color: white;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    position: absolute;
    left: 0;
}

.total-hour h4{
    margin: 0;
}

.total-hour h2{
    margin: 0;
}

.hide {
    display: none;
}

.listEmployees{
  padding: 5px;
  width: 200px;
  margin-top: 5px;
  background-color: white;
  border: none;
  border-bottom: 1px solid #8fb56e;
}