@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.font-size-p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.font-size-m {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-itens {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #7385d2;
  padding: 10px;
}

.font-color-white{
  color: white;
}



